.semesterdetails {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.semesterdetails > .content {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 2px;
  text-align: center;
  width: fit-content;
}

.scheduledetails
  > .content
  > .display-year
  > .yeardetails
  > .content
  > .semesterdetails
  > .content {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
