.semester-details {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.semester-details > .content {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 2px;
  text-align: center;
  width: fit-content;
}

.schedule-details
  > .content
  > .display-year
  > .year-details
  > .content
  > .semester-details
  > .content {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

@media (max-width: 1150px) {
  .schedule-details
    > .content
    > .display-year
    > .year-details
    > .content
    > .semester-details
    > .content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
