.progress {
  height: 100vh;
  width: 100vw;
}

.progress > .content {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0 auto;
  margin-top: 30px;
  max-width: 900px;
}

.progress > .content > .header {
  align-items: center;
  display: flex;
  justify-content: center;
}

.progress > .content > .back-container {
  width: 100%;
}

.progress > .content > .grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

@media (max-width: 1150px) {
  .progress > .content {
    max-width: 700px;
  }
}

@media (max-width: 800px) {
  .progress > .content {
    max-width: 500px;
  }
}

@media (max-width: 600px) {
  .progress > .content {
    max-width: 300px;
  }
}
