.navbar {
  padding: 5px 10px;
}

.navbar .content {
  align-items: center;
  display: flex;
}

.navbar .links {
  align-items: center;
  display: flex;
  flex: 1;
  list-style: none;
  justify-content: space-between;
  margin-left: auto;
  max-width: 650px;
}
