.classdetails {
    border: 1px solid black;
    padding: 2px 4px;
    width: 120px;
}

.scheduledetails > .content > .display-year > .yeardetails > .content > .semesterdetails > .content > .classdetails {
    height: 80px;
}