.preference-modal .content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.date-range,
.time-range,
.distance,
.time-commitment {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.date-pickers,
.time-pickers {
  display: flex;
  gap: 10px;
}

@media (max-width: 700px) {
  .preference-modal .content {
    width: 300px;
  }
}

@media (max-width: 400px) {
  .preference-modal .content {
    width: 275px;
  }
}
