.opportunity-card {
  border-radius: 5px;
  border: 1px solid lightgray;
  cursor: pointer;
  height: 240px;
  padding: 10px;
  width: fit-content;
}

.opportunity-card img {
  border-radius: 5px;
  height: 200px;
  width: 200px;
}
