.recommend {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.recommend > .header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.recommend > .content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.recommend > .content > .grid {
  display: grid;
  gap: 20px;
  grid-auto-rows: 255px;
  grid-template-columns: 215px 215px 215px 215px;
}

@media (max-width: 1150px) {
  .recommend > .content > .grid {
    display: grid;
    gap: 20px;
    grid-template-columns: 215px 215px 215px;
    grid-auto-rows: 255px;
  }
}

@media (max-width: 800px) {
  .recommend > .content > .grid {
    display: grid;
    gap: 20px;
    grid-template-columns: 215px 215px;
    grid-auto-rows: 255px;
  }
}

@media (max-width: 600px) {
  .recommend > .content > .grid {
    display: grid;
    gap: 20px;
    grid-template-columns: 215px;
    grid-auto-rows: 255px;
  }
}
