.schedule-details {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.schedule-details > .content > .display-years {
  display: flex;
  gap: 30px;
}

.schedule-details > .content > .display-year {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
