.schedule-tool {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.schedule-tool > .content {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
  width: 900px;
}

.schedule-tool > .content > .nav-links {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.schedule-tool .content .btn-container {
  display: flex;
  gap: 1em;
}

@media (max-width: 1150px) {
  .schedule-tool > .content {
    width: 700px;
  }
}

@media (max-width: 800px) {
  .schedule-tool > .content {
    width: 500px;
  }
}

@media (max-width: 600px) {
  .schedule-tool > .content {
    width: 300px;
  }
}
