.schedule-tool {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.schedule-tool > .content {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
}

.schedule-tool > .content > .nav-links {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
