.scheduletool {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.scheduletool > .content {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
}

.scheduletool > .content > .back-btn {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  width: 100%;
}
