.studentlanding {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  gap: 10px;
}

.buttons {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
