.saved-schedules {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.saved-schedules > .content {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
  width: 900px;
}

.saved-schedules > .content > .back-btn {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.saved-schedules > .content > .header {
  align-items: flex-start;
  display: flex;
  width: 100%;
}

.saved-schedules > .content > .schedule-details h3 {
  display: none;
}

.saved-schedules
  > .content
  > .schedule-details
  > .content
  > .display-years
  > .year-details {
  cursor: default;
}

.saved-schedules > .content > .schedule-details > .content > .display-years {
  flex-wrap: wrap;
  gap: 20px;
}

.saved-schedules > .pagination {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media (max-width: 1150px) {
  .saved-schedules > .content {
    width: 700px;
  }
}

@media (max-width: 800px) {
  .saved-schedules > .content {
    width: 500px;
  }
}

@media (max-width: 600px) {
  .saved-schedules > .content {
    width: 300px;
  }
}
