@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  border-width: 0;
  font-family: "Roboto", sans-serif;
}

h3 {
  font-size: 30px;
  font-weight: 500;
}

.back:hover {
  color: lightgray;
  cursor: pointer;
}
