.volunteerexplore {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.volunteerexplore > .content {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}